---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
<div class="wordwrap">
  You can also find my articles on <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.
</div>
{% endif %}

{% include base_path %}

<ul>
  {% assign sorted_pubs = site.publications | sort: 'date' | reverse %}
  {% for post in sorted_pubs %}
    <li>
      <b>{{ post.title }}</b><br/>
      {% if post.excerpt %}{{ post.excerpt }}.<br/>{% endif %}
      {% if post.venue %}<i>{{ post.venue }}</i>.{% endif %}
      {% if post.paperurl %} <a href="{{ post.paperurl }}">[PDF]</a>{% endif %}
    </li>
    <br/>
  {% endfor %}
</ul>